* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: rgb(85, 83, 99);
}

.box {
  background-color: black;
  width: 200px;
  height: 400px;
}

div.pole {
  background-color: black;
  width: 50px;
  height: 200px;
}
