* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: rgb(85, 83, 99);
}

.box {
  background-color: black;
  width: 250px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

div.pole {
  background-color: black;
  width: 50px;
  height: 200px;
}

div.light {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

div.red {
  background-color: rgba(204, 50, 50, 0.342);
  animation: red_light 6s linear infinite;
}

div.yellow {
  background-color: rgba(231, 180, 22, 0.342);
  animation: yellow_light 6s linear infinite;
  animation-delay: 2s;
}

div.green {
  background-color: rgba(45, 201, 55, 0.342);
  animation: green_light 6s linear infinite;
  animation-delay: 4s;
}

@keyframes red_light {
  0%,
  50% {
    background-color: rgba(204, 50, 50, 0.342);
  }
  70%,
  85% {
    background-color: rgb(204, 50, 50);
  }
  100% {
    background-color: rgba(204, 50, 50, 0.342);
  }
}

@keyframes yellow_light {
  0%,
  50% {
    background-color: rgba(231, 180, 22, 0.342);
  }
  70%,
  85% {
    background-color: rgb(231, 180, 22);
  }
  100% {
    background-color: rgba(231, 180, 22, 0.342);
  }
}

@keyframes green_light {
  0%,
  50% {
    background-color: rgba(45, 201, 55, 0.342);
  }
  70%,
  85% {
    background-color: rgb(45, 201, 55);
  }
  100% {
    background-color: rgba(45, 201, 55, 0.342);
  }
}
